* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Bebas Neue', cursive;
}

.cabecalho {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 12%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(black,rgb(4, 117, 112));
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 75%;
    font-size: 25px;
}
.escola-titulo{
    padding: 24px 0;
}



